App/build
App/Pods
App/App/public
App/App/capacitor.config.json
App/App/capacitor.plugins.json
App/output
DerivedData
xcuserdata
*.xcworkspace
Pods/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
